<h2>Ícone</h2>
<div class="br-magic-button">
  <button class="br-button circle" type="button" aria-label="Adicionar"><i class="fas fa-cart-plus"
      aria-hidden="true"></i>
  </button>
</div>

<h2>Densidade - Alta</h2>
<div class="br-magic-button small">
  <button class="br-button" type="button">Label
  </button>
</div>

<h2>Densidade - Média</h2>
<div class="br-magic-button medium">
  <button class="br-button" type="button">Label
  </button>
</div>

<h2>Densidade - Baixa</h2>
<div class="br-magic-button large">
  <button class="br-button" type="button">Label
  </button>
</div>

<h2>Texto</h2>
<div class="br-magic-button">
  <button class="br-button" type="button">Label
  </button>
</div>
