<h2>Com rótulos adicionais</h2>
<div class="row">
  <div class="col-md">
    <div class="br-switch small mr-5" role="presentation">
      <input id="switch-small" type="checkbox" name="switch-small" checked="checked" role="switch" />
      <label for="switch-small">Densidade Alta</label>
    </div>
  </div>
  <div class="col-md mt-3 mt-md-0">
    <div class="br-switch medium" role="presentation">
      <input id="switch-medium" type="checkbox" name="switch-medium" checked="checked" role="switch" />
      <label for="switch-medium">Densidade Média (Padrão)</label>
    </div>
  </div>
  <div class="col-md mt-3 mt-md-0">
    <div class="br-switch large mr-5" role="presentation">
      <input id="switch-large" type="checkbox" name="switch-large" checked="checked" role="switch" />
      <label for="switch-large">Densidade Baixa</label>
    </div>
  </div>
</div>

<h2>Alinhamentos</h2>
<div class="row">
  <div class="col-md">
    <div class="br-switch mr-5" role="presentation">
      <input id="switch-left" type="checkbox" name="switch-left" checked="checked" role="switch" />
      <label for="switch-left">Label na esquerda</label>
    </div>
  </div>
  <div class="col-md mt-3 mt-md-0">
    <div class="br-switch right mr-5" role="presentation">
      <input id="switch-right" type="checkbox" name="switch-right" checked="checked" role="switch" />
      <label for="switch-right">Label na direita</label>
    </div>
  </div>
  <div class="col-md mt-3 mt-md-0">
    <div class="br-switch top mr-5" role="presentation">
      <input id="switch-top" type="checkbox" name="switch-top" checked="checked" role="switch" />
      <label for="switch-top">Label no topo</label>
    </div>
  </div>
</div>

<h2>Densidades</h2>
<div class="row">
  <div class="col-md">
    <div class="br-switch small mr-5" role="presentation">
      <input id="switch-small" type="checkbox" name="switch-small" checked="checked" role="switch" />
      <label for="switch-small">Densidade Alta</label>
    </div>
  </div>
  <div class="col-md mt-3 mt-md-0">
    <div class="br-switch medium" role="presentation">
      <input id="switch-medium" type="checkbox" name="switch-medium" checked="checked" role="switch" />
      <label for="switch-medium">Densidade Média (Padrão)</label>
    </div>
  </div>
  <div class="col-md mt-3 mt-md-0">
    <div class="br-switch large mr-5" role="presentation">
      <input id="switch-large" type="checkbox" name="switch-large" checked="checked" role="switch" />
      <label for="switch-large">Densidade Baixa</label>
    </div>
  </div>
</div>

<h2>Switch Padrão</h2>
<div class="br-switch" role="presentation">
  <input id="switch-default" type="checkbox" name="switch-default" checked="checked" role="switch" />
  <label for="switch-default">Label</label>
</div>

<h2>Com ícone</h2>
<div class="br-switch icon" role="presentation">
  <input id="switch-icon" type="checkbox" name="switch-icon" checked="checked" role="switch" />
  <label for="switch-icon">Label</label>
</div>
