<div class="br-accordion">
  <ng-container *ngFor="let item of accordionItems; let i = index">

    <div class="item" [class.active]="item.isOpen">
      <button class="header" type="button" (click)="toggleItem(item)" [attr.aria-controls]="'accordion-content-' + i">
        <span class="icon">
          <i class="fas" [ngClass]="{ 'fa-angle-down': !item.isOpen, 'fa-angle-up': item.isOpen }" aria-hidden="true"></i>
        </span>
        <span class="title">{{ item.title }}</span>
      </button>
    </div>

    <div class="content" *ngIf="item.isOpen" [id]="'accordion-content-' + i">
      {{ item.content }}
    </div>

  </ng-container>
</div>
