.header-menu {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 40px;
  z-index: 1000;
  gap: 1rem;
}

.header-menu br-button {
  margin-left: 1rem; /* ~16px */
}

br-header .header-menu {
  display: flex;
  align-items: center;
  gap: 1rem; /* espaçamento entre avatar e sair */
  padding: 0 1rem; /* mesmo valor lateral do main.container-fluid */
}
