.layout-container {
  display: flex;
  height: 100vh;
}

/* Sidebar fixo */
app-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda a altura disponível da layout-container */
  width: 240px;
  flex-shrink: 0;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
}

/* Área do conteúdo */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Conteúdo principal cresce e empurra o footer */
main {
  flex: 1;
  margin-top: 1rem;
}

/* Footer estilizado */
app-footer {
  margin-top: 24%;
  background-color: #f5f6f8;
  border-top: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}
