<h2>Paginação padrão</h2>
<nav class="br-pagination" aria-label="paginação" data-total="4" data-current="1">
  <ul>
    <li>
      <button class="br-button circle" type="button" data-previous-page="data-previous-page"
        aria-label="Voltar página"><i class="fas fa-angle-left" aria-hidden="true"></i>
      </button>
    </li>
    <li><a class="page active" aria-label="Página 1" href="javascript:void(0)">1</a></li>
    <li><a class="page" aria-label="Página 2" href="javascript:void(0)">2</a></li>
    <li><a class="page" aria-label="Página 3" href="javascript:void(0)">3</a></li>
    <li><a class="page" aria-label="Página 4" href="javascript:void(0)">4</a></li>
    <li>
      <button class="br-button circle" type="button" data-next-page="data-next-page" aria-label="Página seguinte"><i
          class="fas fa-angle-right" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>

<h2>Botão Reticências</h2>
<nav class="br-pagination" aria-label="paginação" data-total="10" data-current="1">
  <ul>
    <li>
      <button class="br-button circle" type="button" data-previous-page="data-previous-page"
        aria-label="Voltar página"><i class="fas fa-angle-left" aria-hidden="true"></i>
      </button>
    </li>
    <li><a class="page active" href="javascript:void(0)" aria-label="Página 1">1</a></li>
    <li class="pagination-ellipsis">
      <button class="br-button circle" type="button" data-toggle="dropdown"
        aria-label="Abrir ou fechar a lista de paginação"><i class="fas fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <div class="br-list" role="menu"><a class="br-item" href="javascript:void(0)" aria-label="Página  2"
          role="menuitem">2</a><a class="br-item" href="javascript:void(0)" aria-label="Página  3"
          role="menuitem">3</a><a class="br-item" href="javascript:void(0)" aria-label="Página  4"
          role="menuitem">4</a><a class="br-item" href="javascript:void(0)" aria-label="Página  5"
          role="menuitem">5</a><a class="br-item" href="javascript:void(0)" aria-label="Página  6"
          role="menuitem">6</a><a class="br-item" href="javascript:void(0)" aria-label="Página  7" role="menuitem">7</a>
      </div>
    </li>
    <li><a class="page" href="javascript:void(0)" aria-label="Página  8">8</a></li>
    <li><a class="page" href="javascript:void(0)" aria-label="Página  9">9</a></li>
    <li><a class="page" href="javascript:void(0)" aria-label="Página  10">10</a></li>
    <li>
      <button class="br-button circle" type="button" data-next-page="data-next-page" aria-label="Proxima página"><i
          class="fas fa-angle-right" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>
<hr />
<nav class="br-pagination d-none d-sm-flex" aria-label="paginação" data-total="20" data-current="1">
  <ul>
    <li>
      <button class="br-button circle" type="button" data-previous-page="data-previous-page" aria-label="   página"><i
          class="fas fa-angle-left" aria-hidden="true"></i>
      </button>
    </li>
    <li><a class="page active" href="javascript:void(0)" aria-label="Página  1">1</a></li>
    <li class="pagination-ellipsis">
      <button class="br-button circle" type="button" data-toggle="dropdown"
        aria-label="Abrir ou fechar a lista de paginação"><i class="fas fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <div class="br-list" role="menu"><a class="br-item" href="javascript:void(0)" role="menuitem">2</a><a
          class="br-item" href="javascript:void(0)" role="menuitem">3</a><a class="br-item" href="javascript:void(0)"
          role="menuitem">4</a><a class="br-item" href="javascript:void(0)" role="menuitem">5</a><a class="br-item"
          href="javascript:void(0)" role="menuitem">6</a><a class="br-item" href="javascript:void(0)"
          role="menuitem">7</a><a class="br-item" href="javascript:void(0)" role="menuitem">8</a><a class="br-item"
          href="javascript:void(0)" role="menuitem">9</a>
      </div>
    </li>
    <li><a class="page" href="javascript:void(0)" aria-label="Página  10">10</a></li>
    <li><a class="page" href="javascript:void(0)" aria-label="Página  11">11</a></li>
    <li><a class="page" href="javascript:void(0)" aria-label="Página  12">12</a></li>
    <li class="pagination-ellipsis">
      <button class="br-button circle" type="button" data-toggle="dropdown"
        aria-label="Abrir ou fechar a lista de paginação"><i class="fas fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <div class="br-list" role="menu"><a class="br-item" href="javascript:void(0)" role="menuitem">13</a><a
          class="br-item" href="javascript:void(0)" role="menuitem">14</a><a class="br-item" href="javascript:void(0)"
          role="menuitem">15</a><a class="br-item" href="javascript:void(0)" role="menuitem">16</a><a class="br-item"
          href="javascript:void(0)" role="menuitem">17</a><a class="br-item" href="javascript:void(0)"
          role="menuitem">18</a><a class="br-item" href="javascript:void(0)" role="menuitem">19</a>
      </div>
    </li>
    <li><a class="page" href="javascript:void(0)">20</a></li>
    <li>
      <button class="br-button circle" type="button" data-next-page="data-next-page" aria-label="Página seguinte"><i
          class="fas fa-angle-right" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>
<hr />
<nav class="br-pagination" aria-label="paginação" data-total="10" data-current="1">
  <ul>
    <li>
      <button class="br-button circle" type="button" data-previous-page="data-previous-page"
        aria-label="Voltar página"><i class="fas fa-angle-left" aria-hidden="true"></i>
      </button>
    </li>
    <li><a class="page active" href="javascript:void(0)" aria-label=" página 1">1</a></li>
    <li><a class="page" href="javascript:void(0)" aria-label=" página 2">2</a></li>
    <li><a class="page" href="javascript:void(0)" aria-label=" página 3">3</a></li>
    <li><a class="page" href="javascript:void(0)" aria-label=" página 4">4</a></li>
    <li class="pagination-ellipsis">
      <button class="br-button circle" type="button" data-toggle="dropdown"
        aria-label="Abrir ou fechar a lista de paginação"><i class="fas fa-ellipsis-h" aria-hidden="true"></i>
      </button>
      <div class="br-list" role="menu"><a class="br-item" href="javascript:void(0)" aria-label=" página 5"
          role="menuitem">5</a><a class="br-item" href="javascript:void(0)" aria-label=" página 6"
          role="menuitem">6</a><a class="br-item" href="javascript:void(0)" aria-label=" página 7"
          role="menuitem">7</a><a class="br-item" href="javascript:void(0)" aria-label=" página 8"
          role="menuitem">8</a><a class="br-item" href="javascript:void(0)" aria-label=" página 9" role="menuitem">9</a>
      </div>
    </li>
    <li><a class="page" href="javascript:void(0)" aria-label=" página 10">10</a></li>
    <li>
      <button class="br-button circle" type="button" data-next-page="data-next-page" aria-label="Página seguinte"><i
          class="fas fa-angle-right" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>

<h2>Tipo Contextual</h2>
<nav class="br-pagination" aria-label="paginação" data-total="50" data-current="1" data-per-page="20">
  <div class="pagination-per-page">
    <div class="br-select">
      <div class="br-input">
        <label for="per-page-selection-random-81647">Exibir</label>
        <input id="per-page-selection-random-81647" type="text" placeholder=" " />
        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i
            class="fas fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-10-random-81647" type="radio" name="per-page-random-81647"
              value="per-page-10-random-81647" checked="checked" />
            <label for="per-page-10-random-81647">10</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-20-random-81647" type="radio" name="per-page-random-81647"
              value="per-page-20-random-81647" />
            <label for="per-page-20-random-81647">20</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-30-random-81647" type="radio" name="per-page-random-81647"
              value="per-page-30-random-81647" />
            <label for="per-page-30-random-81647">30</label>
          </div>
        </div>
      </div>
    </div>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span
      class="per-page">20</span>&nbsp;de&nbsp;<span class="total">50</span>&nbsp;itens</div>
  <div class="pagination-go-to-page d-none d-sm-flex ml-auto">
    <div class="br-select">
      <div class="br-input">
        <label for="go-to-selection-random-4087">Página</label>
        <input id="go-to-selection-random-4087" type="text" placeholder=" " />
        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i
            class="fas fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-1-random-4087" type="radio" name="go-to-random-4087" value="go-to-1-random-4087"
              checked="checked" />
            <label for="go-to-1-random-4087">1</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-2-random-4087" type="radio" name="go-to-random-4087" value="go-to-2-random-4087" />
            <label for="go-to-2-random-4087">2</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-3-random-4087" type="radio" name="go-to-random-4087" value="go-to-3-random-4087" />
            <label for="go-to-3-random-4087">3</label>
          </div>
        </div>
      </div>
    </div>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-arrows ml-auto ml-sm-0">
    <button class="br-button circle" type="button" aria-label="Voltar página"><i class="fas fa-angle-left"
        aria-hidden="true"></i>
    </button>
    <button class="br-button circle" type="button" aria-label="Página seguinte"><i class="fas fa-angle-right"
        aria-hidden="true"></i>
    </button>
  </div>
</nav>
<hr />
<nav class="br-pagination" aria-label="paginação" data-total="50" data-current="1" data-per-page="10">
  <div class="pagination-arrows">
    <button class="br-button circle" type="button" aria-label="Voltar página"><i class="fas fa-angle-left"
        aria-hidden="true"></i>
    </button>
    <button class="br-button circle" type="button" aria-label="Página seguinte"><i class="fas fa-angle-right"
        aria-hidden="true"></i>
    </button>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-go-to-page d-none d-sm-flex">
    <div class="br-select">
      <div class="br-input">
        <label for="go-to-selection-random-63373">Página</label>
        <input id="go-to-selection-random-63373" type="text" placeholder=" " />
        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i
            class="fas fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-1-random-63373" type="radio" name="go-to-random-63373" value="go-to-1-random-63373"
              checked="checked" />
            <label for="go-to-1-random-63373">1</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-2-random-63373" type="radio" name="go-to-random-63373" value="go-to-2-random-63373" />
            <label for="go-to-2-random-63373">2</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-3-random-63373" type="radio" name="go-to-random-63373" value="go-to-3-random-63373" />
            <label for="go-to-3-random-63373">3</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-4-random-63373" type="radio" name="go-to-random-63373" value="go-to-4-random-63373" />
            <label for="go-to-4-random-63373">4</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-5-random-63373" type="radio" name="go-to-random-63373" value="go-to-5-random-63373" />
            <label for="go-to-5-random-63373">5</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-per-page ml-auto">
    <div class="br-select">
      <div class="br-input">
        <label for="per-page-selection-random-93355">Exibir</label>
        <input id="per-page-selection-random-93355" type="text" placeholder=" " />
        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i
            class="fas fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-10-random-93355" type="radio" name="per-page-random-93355"
              value="per-page-10-random-93355" checked="checked" />
            <label for="per-page-10-random-93355">10</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-20-random-93355" type="radio" name="per-page-random-93355"
              value="per-page-20-random-93355" />
            <label for="per-page-20-random-93355">20</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-30-random-93355" type="radio" name="per-page-random-93355"
              value="per-page-30-random-93355" />
            <label for="per-page-30-random-93355">30</label>
          </div>
        </div>
      </div>
    </div>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span
      class="per-page">10</span>&nbsp;de&nbsp;<span class="total">50</span>&nbsp;itens</div>
</nav>
<hr />
<nav class="br-pagination" aria-label="paginação" data-total="50" data-current="1" data-per-page="10">
  <div class="pagination-per-page">
    <div class="br-select">
      <div class="br-input">
        <label for="per-page-selection-random-57605">Exibir</label>
        <input id="per-page-selection-random-57605" type="text" placeholder=" " />
        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i
            class="fas fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-10-random-57605" type="radio" name="per-page-random-57605"
              value="per-page-10-random-57605" checked="checked" />
            <label for="per-page-10-random-57605">10</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-20-random-57605" type="radio" name="per-page-random-57605"
              value="per-page-20-random-57605" />
            <label for="per-page-20-random-57605">20</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="per-page-30-random-57605" type="radio" name="per-page-random-57605"
              value="per-page-30-random-57605" />
            <label for="per-page-30-random-57605">30</label>
          </div>
        </div>
      </div>
    </div>
  </div><span class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span
      class="per-page">10</span>&nbsp;de&nbsp;<span class="total">50</span>&nbsp;itens</div><span
    class="br-divider d-none d-sm-block mx-3"></span>
  <div class="pagination-go-to-page d-none d-sm-flex">
    <div class="br-select">
      <div class="br-input">
        <label for="go-to-selection-random-9625">Página</label>
        <input id="go-to-selection-random-9625" type="text" placeholder=" " />
        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i
            class="fas fa-angle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="br-list" tabindex="0">
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-1-random-9625" type="radio" name="go-to-random-9625" value="go-to-1-random-9625"
              checked="checked" />
            <label for="go-to-1-random-9625">1</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-2-random-9625" type="radio" name="go-to-random-9625" value="go-to-2-random-9625" />
            <label for="go-to-2-random-9625">2</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-3-random-9625" type="radio" name="go-to-random-9625" value="go-to-3-random-9625" />
            <label for="go-to-3-random-9625">3</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-4-random-9625" type="radio" name="go-to-random-9625" value="go-to-4-random-9625" />
            <label for="go-to-4-random-9625">4</label>
          </div>
        </div>
        <div class="br-item" tabindex="-1">
          <div class="br-radio">
            <input id="go-to-5-random-9625" type="radio" name="go-to-random-9625" value="go-to-5-random-9625" />
            <label for="go-to-5-random-9625">5</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination-arrows ml-auto">
    <button class="br-button circle" type="button" aria-label="Voltar página"><i class="fas fa-angle-left"
        aria-hidden="true"></i>
    </button>
    <button class="br-button circle" type="button" aria-label="Página seguinte"><i class="fas fa-angle-right"
        aria-hidden="true"></i>
    </button>
  </div>
</nav>

<h2>Densidades</h2>
<nav class="br-pagination small" aria-label="paginação" data-total="5" data-current="1">
  <ul>
    <li>
      <button class="br-button circle" type="button" data-previous-page="data-previous-page"
        aria-label="Voltar página"><i class="fas fa-angle-left" aria-hidden="true"></i>
      </button>
    </li>
    <li><a class="page active" aria-label="Página 1" href="javascript:void(0)">1</a></li>
    <li><a class="page" aria-label="Página 2" href="javascript:void(0)">2</a></li>
    <li><a class="page" aria-label="Página 3" href="javascript:void(0)">3</a></li>
    <li><a class="page" aria-label="Página 4" href="javascript:void(0)">4</a></li>
    <li><a class="page" aria-label="Página 5" href="javascript:void(0)">5</a></li>
    <li>
      <button class="br-button circle" type="button" data-next-page="data-next-page" aria-label="Página seguinte"><i
          class="fas fa-angle-right" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>
<hr />
<nav class="br-pagination large" aria-label="paginação" data-total="3" data-current="1">
  <ul>
    <li>
      <button class="br-button circle" type="button" data-previous-page="data-previous-page"
        aria-label="Voltar página"><i class="fas fa-angle-left" aria-hidden="true"></i>
      </button>
    </li>
    <li><a class="page active" aria-label="Página 1" href="javascript:void(0)">1</a></li>
    <li><a class="page" aria-label="Página 2" href="javascript:void(0)">2</a></li>
    <li><a class="page" aria-label="Página 3" href="javascript:void(0)">3</a></li>
    <li>
      <button class="br-button circle" type="button" data-next-page="data-next-page" aria-label="Página seguinte"><i
          class="fas fa-angle-right" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>

<h2>Em fundo escuro</h2>
<div class="bg-gray-60 p-3">
  <nav class="br-pagination dark-mode" aria-label="paginação" data-total="10" data-current="1">
    <ul>
      <li>
        <button class="br-button circle" type="button" data-previous-page="data-previous-page"
          aria-label="Voltar página"><i class="fas fa-angle-left" aria-hidden="true"></i>
        </button>
      </li>
      <li><a class="page active" href="javascript:void(0)" aria-label="Página 1">1</a></li>
      <li class="pagination-ellipsis">
        <button class="br-button circle" type="button" data-toggle="dropdown"
          aria-label="Abrir ou fechar a lista de paginação"><i class="fas fa-ellipsis-h" aria-hidden="true"></i>
        </button>
        <div class="br-list" role="menu"><a class="br-item" href="javascript:void(0)" aria-label="Página  2"
            role="menuitem">2</a><a class="br-item" href="javascript:void(0)" aria-label="Página  3"
            role="menuitem">3</a><a class="br-item" href="javascript:void(0)" aria-label="Página  4"
            role="menuitem">4</a><a class="br-item" href="javascript:void(0)" aria-label="Página  5"
            role="menuitem">5</a><a class="br-item" href="javascript:void(0)" aria-label="Página  6"
            role="menuitem">6</a><a class="br-item" href="javascript:void(0)" aria-label="Página  7"
            role="menuitem">7</a>
        </div>
      </li>
      <li><a class="page" href="javascript:void(0)" aria-label="Página  8">8</a></li>
      <li><a class="page" href="javascript:void(0)" aria-label="Página  9">9</a></li>
      <li><a class="page" href="javascript:void(0)" aria-label="Página  10">10</a></li>
      <li>
        <button class="br-button circle" type="button" data-next-page="data-next-page" aria-label="Proxima página"><i
            class="fas fa-angle-right" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </nav>
  <hr />
  <nav class="br-pagination dark-mode" aria-label="paginação" data-total="50" data-current="1" data-per-page="10">
    <div class="pagination-per-page">
      <div class="br-select">
        <div class="br-input">
          <label for="per-page-selection-random-1092">Exibir</label>
          <input id="per-page-selection-random-1092" type="text" placeholder=" " />
          <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i
              class="fas fa-angle-down" aria-hidden="true"></i>
          </button>
        </div>
        <div class="br-list" tabindex="0">
          <div class="br-item" tabindex="-1">
            <div class="br-radio">
              <input id="per-page-10-random-1092" type="radio" name="per-page-random-1092"
                value="per-page-10-random-1092" checked="checked" />
              <label for="per-page-10-random-1092">10</label>
            </div>
          </div>
          <div class="br-item" tabindex="-1">
            <div class="br-radio">
              <input id="per-page-20-random-1092" type="radio" name="per-page-random-1092"
                value="per-page-20-random-1092" />
              <label for="per-page-20-random-1092">20</label>
            </div>
          </div>
          <div class="br-item" tabindex="-1">
            <div class="br-radio">
              <input id="per-page-30-random-1092" type="radio" name="per-page-random-1092"
                value="per-page-30-random-1092" />
              <label for="per-page-30-random-1092">30</label>
            </div>
          </div>
        </div>
      </div>
    </div><span class="br-divider d-none d-sm-block mx-3"></span>
    <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span
        class="per-page">10</span>&nbsp;de&nbsp;<span class="total">50</span>&nbsp;itens</div><span
      class="br-divider d-none d-sm-block mx-3"></span>
    <div class="pagination-go-to-page d-none d-sm-flex">
      <div class="br-select">
        <div class="br-input">
          <label for="go-to-selection-random-28185">Página</label>
          <input id="go-to-selection-random-28185" type="text" placeholder=" " />
          <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1" data-trigger="data-trigger"><i
              class="fas fa-angle-down" aria-hidden="true"></i>
          </button>
        </div>
        <div class="br-list" tabindex="0">
          <div class="br-item" tabindex="-1">
            <div class="br-radio">
              <input id="go-to-1-random-28185" type="radio" name="go-to-random-28185" value="go-to-1-random-28185"
                checked="checked" />
              <label for="go-to-1-random-28185">1</label>
            </div>
          </div>
          <div class="br-item" tabindex="-1">
            <div class="br-radio">
              <input id="go-to-2-random-28185" type="radio" name="go-to-random-28185" value="go-to-2-random-28185" />
              <label for="go-to-2-random-28185">2</label>
            </div>
          </div>
          <div class="br-item" tabindex="-1">
            <div class="br-radio">
              <input id="go-to-3-random-28185" type="radio" name="go-to-random-28185" value="go-to-3-random-28185" />
              <label for="go-to-3-random-28185">3</label>
            </div>
          </div>
          <div class="br-item" tabindex="-1">
            <div class="br-radio">
              <input id="go-to-4-random-28185" type="radio" name="go-to-random-28185" value="go-to-4-random-28185" />
              <label for="go-to-4-random-28185">4</label>
            </div>
          </div>
          <div class="br-item" tabindex="-1">
            <div class="br-radio">
              <input id="go-to-5-random-28185" type="radio" name="go-to-random-28185" value="go-to-5-random-28185" />
              <label for="go-to-5-random-28185">5</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-arrows ml-auto">
      <button class="br-button circle" type="button" aria-label="Voltar página"><i class="fas fa-angle-left"
          aria-hidden="true"></i>
      </button>
      <button class="br-button circle" type="button" aria-label="Página seguinte"><i class="fas fa-angle-right"
          aria-hidden="true"></i>
      </button>
    </div>
  </nav>
</div>
