<h2>Envio de 1 arquivo</h2>
<div class="br-upload">
  <label class="upload-label" for="single-file"><span>Envio de arquivo</span></label>
  <input class="upload-input" id="single-file" type="file" aria-hidden="null" aria-label="enviar arquivo" />
  <div class="upload-list"></div>
</div>

<h2>Upload desabilitado</h2>
<div class="br-upload" disabled="disabled">
  <label class="upload-label" for="disabled"><span>Envio de arquivo</span></label>
  <input class="upload-input" id="disabled" type="file" disabled="disabled" aria-hidden="null"
    aria-label="enviar arquivo" />
  <div class="upload-list"></div>
</div>

<h2>Upload com mensagem de feedback</h2>
<div class="br-upload" data-danger="data-danger">
  <label class="upload-label" for="upload"><span>Envio de arquivo</span></label>
  <input class="upload-input" id="upload" type="file" aria-hidden="null" aria-label="enviar arquivo" />
  <div class="upload-list"></div>
</div><span class="feedback danger mt-1" role="alert"><i class="fas fa-times-circle" aria-hidden="true"></i>Os arquivos
  devem ser no formato PNG ou JPG e ter no máximo 100MB.</span>

<h2>Envio de vários arquivos</h2>
<div class="br-upload">
  <label class="upload-label" for="multiple-files"><span>Envio de arquivos</span></label>
  <input class="upload-input" id="multiple-files" type="file" multiple="multiple" aria-hidden="null"
    aria-label="enviar arquivo" />
  <div class="upload-list"></div>
</div>
<p class="text-base mt-1">Clique ou arraste os arquivos para cima do componente Upload.</p>
