<div class="p-3 bg-gray-60 text-pure-0">
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><span
    class="br-divider dashed dark-mode my-3"></span>
  <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
</div>

<br />

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><span class="br-divider dashed my-3"></span>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>

<br />

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><span class="br-divider md my-3"></span>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>

<br />

<div class="d-flex">
  <div>Voluptate ipsa iure placeat praesentium, sint deleniti consectetur quisquam neque veniam possimus, hic commodi?</div><span class="br-divider vertical mx-3"></span>
  <div>A adipisci mollitia blanditiis itaque velit laudantium voluptatum molestiae quasi.</div>
</div>

<br />

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><span class="br-divider my-3"></span>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>

<br />

<div class="bg-gray-60 text-pure-0 p-3">
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><span class="br-divider dark-mode my-3"></span>
  <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
</div>

<br />

<div class="d-flex">
  <div>Voluptate ipsa iure placeat praesentium, sint deleniti consectetur quisquam neque veniam possimus, hic commodi?</div><span class="br-divider vertical dashed mx-3"></span>
  <div>A adipisci mollitia blanditiis itaque velit laudantium voluptatum molestiae quasi.</div>
</div>

<br />

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><span class="br-divider sm my-3"></span>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>

<br />

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div><span class="br-divider lg my-3"></span>
<div>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
