<h2>Densidades</h2>
<div class="br-list" role="list">
  <div class="header">
    <div class="title">Densidade alta (padrão)</div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Texto principal</div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Texto principal</div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Texto principal</div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
</div>

<br />
<br />

<div class="br-list" role="list">
  <div class="header">
    <div class="title">Itens selecionáveis</div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">
        ITEM
        Texto principal
      </div>
      <div class="col-auto">
        <div class="br-checkbox hidden-label">
          <input id="check-01" name="check-01" type="checkbox" aria-label="ITEM Texto principal" />
          <label for="check-01"></label>
        </div>
      </div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">
        ITEM
        Texto principal
      </div>
      <div class="col-auto">
        <div class="br-checkbox hidden-label">
          <input id="check-02" name="check-02" type="checkbox" aria-label="ITEM Texto principal" />
          <label for="check-02"></label>
        </div>
      </div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">
        ITEM
        Texto principal
      </div>
      <div class="col-auto">
        <div class="br-checkbox hidden-label">
          <input id="check-03" name="check-03" type="checkbox" aria-label="ITEM Texto principal" />
          <label for="check-03"></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="br-list horizontal mt-5" role="list">
  <div class="header">
    <div class="title">Versão com expansão</div>
  </div><span class="br-divider"></span>
  <div class="group">
    <div class="br-item" role="listitem" data-toggle="collapse" data-target="h1">
      <div class="content">
        <div class="flex-fill">RÓTULO 01</div><i class="fas fa-angle-down" aria-hidden="true"></i>
      </div>
    </div>
    <div class="br-list" id="h1" role="list" hidden="hidden">
      <div class="br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Sub-item</div>
        </div>
      </div><span class="br-divider"></span>
      <div class="br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Sub-item</div>
        </div>
      </div><span class="br-divider"></span>
      <div class="br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Sub-item</div>
        </div>
      </div><span class="br-divider"></span>
    </div>
  </div>
  <div class="group">
    <div class="br-item" role="listitem" data-toggle="collapse" data-target="h2">
      <div class="content">
        <div class="flex-fill">RÓTULO 02</div><i class="fas fa-angle-down" aria-hidden="true"></i>
      </div>
    </div>
    <div class="br-list" id="h2" role="list" hidden="hidden">
      <div class="br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Sub-item</div>
        </div>
      </div><span class="br-divider"></span>
      <div class="br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Sub-item</div>
        </div>
      </div><span class="br-divider"></span>
      <div class="br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Sub-item</div>
        </div>
      </div><span class="br-divider"></span>
    </div>
  </div>
  <div class="group">
    <div class="br-item" role="listitem" data-toggle="collapse" data-target="h3">
      <div class="content">
        <div class="flex-fill">RÓTULO 03</div><i class="fas fa-angle-down" aria-hidden="true"></i>
      </div>
    </div>
    <div class="br-list" id="h3" role="list" hidden="hidden">
      <div class="br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Sub-item</div>
        </div>
      </div><span class="br-divider"></span>
      <div class="br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Sub-item</div>
        </div>
      </div><span class="br-divider"></span>
      <div class="br-item" role="listitem">
        <div class="row align-items-center">
          <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
          </div>
          <div class="col">Sub-item</div>
        </div>
      </div><span class="br-divider"></span>
    </div>
  </div>
</div>

<h2>Lista Vertical</h2>
<div class="br-list" role="list">
  <div class="header">
    <div class="title">Título (opcional)</div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">
        ITEM
        Texto principal
      </div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">
        ITEM
        Texto principal
      </div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">
        ITEM
        Texto principal
      </div>
      <div class="col-auto">META</div>
    </div>
  </div>
</div>

<h2>Lista Horizontal</h2>
<div class="br-list horizontal" role="list">
  <div class="header">
    <div class="title">Separadores são opcionais</div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">
        ITEM
        Texto principal
      </div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">
        ITEM
        Texto principal
      </div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">
        ITEM
        Texto principal
      </div>
      <div class="col-auto">META</div>
    </div>
  </div>
</div>

<div class="br-list" role="list">
  <div class="header">
    <div class="title">Por expansão</div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem" data-toggle="collapse" data-target="l1">
    <div class="content">
      <div class="flex-fill">RÓTULO 01</div><i class="fas fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>
  <div class="br-list" id="l1" role="list" hidden="hidden">
    <div class="br-item" role="listitem">
      <div class="row align-items-center">
        <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="col">Sub-item</div>
      </div>
    </div><span class="br-divider"></span>
    <div class="br-item" role="listitem">
      <div class="row align-items-center">
        <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="col">Sub-item</div>
      </div>
    </div><span class="br-divider"></span>
    <div class="br-item" role="listitem">
      <div class="row align-items-center">
        <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="col">Sub-item</div>
      </div>
    </div><span class="br-divider"></span>
  </div>
  <div class="br-item" role="listitem" data-toggle="collapse" data-target="l2">
    <div class="content">
      <div class="flex-fill">RÓTULO 02</div><i class="fas fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>
  <div class="br-list" id="l2" role="list" hidden="hidden">
    <div class="br-item" role="listitem">
      <div class="row align-items-center">
        <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="col">Sub-item</div>
      </div>
    </div><span class="br-divider"></span>
    <div class="br-item" role="listitem">
      <div class="row align-items-center">
        <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="col">Sub-item</div>
      </div>
    </div><span class="br-divider"></span>
    <div class="br-item" role="listitem">
      <div class="row align-items-center">
        <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="col">Sub-item</div>
      </div>
    </div><span class="br-divider"></span>
  </div>
  <div class="br-item" role="listitem" data-toggle="collapse" data-target="l3">
    <div class="content">
      <div class="flex-fill">RÓTULO 03</div><i class="fas fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>
  <div class="br-list" id="l3" role="list" hidden="hidden">
    <div class="br-item" role="listitem">
      <div class="row align-items-center">
        <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="col">Sub-item</div>
      </div>
    </div><span class="br-divider"></span>
    <div class="br-item" role="listitem">
      <div class="row align-items-center">
        <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="col">Sub-item</div>
      </div>
    </div><span class="br-divider"></span>
    <div class="br-item" role="listitem">
      <div class="row align-items-center">
        <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
        </div>
        <div class="col">Sub-item</div>
      </div>
    </div><span class="br-divider"></span>
  </div>
</div>

<br />

<div class="br-list" role="list">
  <div class="header">
    <div class="title">Por separador</div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
</div>

<h2>Agrupamentos</h2>
<div class="br-list" role="list">
  <div class="header">
    <div class="title">Por rótulo</div>
  </div><span class="br-divider"></span>
  <div class="br-item" role="listitem">RÓTULO 01
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">RÓTULO 02
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
  <div class="br-item" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Sub-item</div>
      <div class="col-auto">META</div>
    </div>
  </div>
</div>

<br />

<div class="br-list" role="list">
  <div class="header">
    <div class="title">Densidade baixa</div>
  </div><span class="br-divider"></span>
  <div class="br-item py-4" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Texto principal</div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
  <div class="br-item py-4" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Texto principal</div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
  <div class="br-item py-4" role="listitem">
    <div class="row align-items-center">
      <div class="col-auto"><i class="fas fa-heartbeat" aria-hidden="true"></i>
      </div>
      <div class="col">Texto principal</div>
      <div class="col-auto">META</div>
    </div>
  </div><span class="br-divider"></span>
</div>
